.header__search{
  &-bar{
    width: 50rem;
    appearance: text;
    box-sizing: content-box;
    border: none;
    border-radius: .125rem;
    background-color: rgba(#42454e, 0);
    font-weight: 300;
    padding: 0px 15px;
    padding-left: 60px;
    height: 55px;
    // margin-top: 3rem;
    font-size: 2rem;
    color: $color-white;

    &:focus{
      outline: none;
    }
  }
}

.header__form{
  background-color: rgba(#42454e, 0.7s);
  border-radius: .125rem;
  font-size: 12px;
  display: inline-block;
  margin: 0px;
}

.btn-search{
  background-color: #1bba9a;
  color: #fff;
  font-weight: bold;
  padding: 11px 20px;
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);

  &:focus,
  &:hover{
    background-color: #189e83;
  }
}
